<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/nutricionista.jpg">
            <h2>Marketing para nutricionistas  </h2>

            <h3>Sobre o Curso</h3>
            <p>A gente sabe como te ajudar a fazer diferente e inovar seu atendimento como nutricionista! Os conceitos dos nossos cursos trazem conhecimentos diversos, adaptados exclusivamente para a sua realidade profissional. Tudo transmitido com didática para acolher todas as suas dúvidas e muita energia para estimular seu potencial!</p>

            <h3>O que você aprenderá</h3>

            <p>Aprenda um conjunto de ferramentas e técnicas para você se divulgar de forma ética e se tornar o nutricionista mais visto da sua cidade.</p>

        </main>
    </body>

</html>