<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/bizagi.jpg">
            <h2>Modelagem de Processos com Bizagi</h2>

            <h3>Sobre o Curso</h3>
            <p>Curso prático para modelar processos usando BPMN</p>

            <h3>O que você aprenderá</h3>

            <p>- Entender o que são processsos de negócio <br>
            - Entender a notação BPMN; <br>
            - Apresentar os processos mapeados; <br>
            - Identificar e descrever os processos atuais da organização; <br>
            - Modelar processos utilizando o Bizagi.</p>

        </main>
    </body>

</html>