<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/desfudencia.png">
            <h2>Jornada da desfudência</h2>

            <h3>Sobre o Curso</h3>
            <p>Com a Jornada, você nunca mais vai precisar de ninguém pra dizer
                    onde, como, quanto e quando investir. Vai aprender a usar seu cérebro como aliado
                    e não mais como sabotador.</p>

            <h3>O que você aprenderá</h3>

            <p>Tudo o que você precisa saber sobre como economizar, se organizar e ganhar mais.
                    O curso mais completo do país que reúne mindset, investimento e finanças
                    em uma metodologia exclusiva e comprovada por milhares de alunas e alunos.</p>

        </main>
    </body>

</html>