<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/lancamento.png">
            <h2>Fórmula de Lançamento</h2>

            <h3>Sobre o Curso</h3>
            <p>A Fórmula é um treinamento 100% online. Ele é milimetricamente pensado para quem tem um simples objetivo: fazer um 6 em 7. 

                    Fazer um 6 em 7 é uma gíria do marketing digital que significa faturar mais de 6 dígitos (R$ 100 mil) em 7 dias consecutivos. Vulgo, uma semana.</p>

            <h3>O que você aprenderá</h3>

            <p>São vários os canais onde eu compartilho o meu conhecimento de forma gratuita para que você possa alavancar suas vendas ou criar um negócio digital do absoluto zero.</p>

        </main>
    </body>

</html>