<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/manutencaocel.jpg">
            <h2>Curso de Manutenção de Celular do Básico ao Avançado</h2>

            <h3>Sobre o Curso</h3>
            <p>Aprenda a Consertar Celulares e Tablets do Absoluto Zero.</p>

            <h3>O que você aprenderá</h3>

            <p>- Montar e Gerenciar um Laboratório Técnico de Celulares;<br>
            - Trocar Telas, Conectores de Carga, Botões, Microfone entre outros Componentes de Celulares;<br>
            - Aprender a Fazer uma Ordem de Serviço; <br>
            - Efetuar Manutenção em Nível de Hardware em Celulares e Tablets;<br>
            - Fazer Check List em Aparelhos Celulares.</p>

        </main>
    </body>

</html>