<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/milmilhao.png">
            <h2>Do mil ao milhão</h2>

            <h3>Sobre o Curso</h3>
            <p>MUDE SUA VIDA FINANCEIRA NOS PRÓXIMOS 30 DIAS E ACELERE SEU PROCESSO DE ENRIQUECIMENTO PARA VIVER DE RENDA</p>

            <h3>O que você aprenderá</h3>

            <p>- Diagnóstico financeiro;<br>
            - Gastar melhor; <br>
            - Como investir como um profissional e fazer o seu dinheiro render mais;<br>
            - O mindset de quem enriquece;<br>
            - Como ser promovido, aumentar o seu salário e criar fontes alternativas de renda.</p>

        </main>
    </body>

</html>