<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/mirna.jpg">
            <h2>Investimento descomplicado</h2>

            <h3>Sobre o Curso</h3>
            <p>O curso Investimento Descomplicado tem como objetivo ajudar pessoas que querem aprender a investir de forma rápida, prática e segura para multiplicarem o seu dinheiro ao longo dos anos escolhendo as melhores e mais rentáveis aplicações do mercado financeiro.<br>
                    A especialista em finanças Mirna Borges desenvolveu uma metodologia com teoria e prática dos principais investimentos disponíveis no mercado para que no final das aulas você seja capaz de fazer o seu primeiro investimento.
                    Todas as aulas gravadas estão LEGENDADAS.</p>

            <h3>O que você aprenderá</h3>

            <p>- Renda fixa; <br>
            - Tesouro direto; <br>
            - Previdência privada; <br>
            - Fundos de investimentos; <br>
            - Ações.</p>

        </main>
    </body>

</html>