<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../../css/detalhescursos.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="../index.html">e-HelpUs</a></h1>
                <form class="login">
                    <label for="email">Email:</label>
                    <input type="text" id="email">

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha">

                    <input class="enviar" type="submit">
                    <a href="../cadastro.html">Cadastre-se</a>
                </form>
            </nav>
        </header>

        <main>
            <img src="../../img/python.jpg">
            <h2>Curso Python- do básico ao avançado</h2>

            <h3>Sobre o Curso</h3>
            <p>Aprenda Python do básico ao avançado com Expressões Lambdas, Iteradores, Geradores, Orientação a Objetos e muito mais!</p>

            <h3>O que você aprenderá</h3>

            <p>- Você será capaz de criar programas sofisticados com a linguagem Python;<br>
                - Você será capaz de se tornar um especialista em inteligência artificial utilizando Python;<br>
                - Você será capaz de se tornar um cientista de dados utilizando Python;<br>
                - Você será capaz de se tornar um especialista em programação web com algum framework Python.
            </p>

        </main>
    </body>

</html>