<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>e-HelpUs</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="maintitle"><a href="index.html">e-HelpUs</a></h1>
                <img class="user" src="../img/user.png">
            </nav>
            <img src="../img/banner.jpg">
            <p class="usertext">Renata Praisler</p>
        </header>

        <main>
            <h2>Cursos sugeridos</h2>

            <ul class="cursossugeridos">
                <li>
                    <a href="cursos/amoremnutrir.html">
                        <img src="../img/nutricionista.jpg">
                        <p>Marketing para nutricionistas</p>
                    </a>
                </li>
        
                <li>
                    <a href="cursos/vendas.html">
                        <img src="../img/vendas.jpg">
                        <p>Curso de Vendas Completo</p>
                    </a>
                </li>
            
                <li>
                    <a href="cursos/desfudencia.html">
                        <img src="../img/desfudencia.png">
                        <p>Jornada da desfudência</p>
                    </a>
                </li>
                
                <li>
                    <a href="cursos/python.html">
                        <img src="../img/python.jpg">
                        <p>Curso Python - Básico ao avançado</p>
                    </a>
                </li>
                    
                <li>
                    <a href="cursos/manutencaocel.html">
                        <img src="../img/manutencaocel.jpg">
                        <p>Manutenção de Celular</p>
                    </a>
                </li>                                                                           
            </ul>

            <a class="link_vertodos" href="cursos.html"><div class="botao_vertodos">Ver todos os cursos</div></a>

            <div class="especialistazone">
                <img src="../img/cvespecialista.jpg">
                <div class="botao_mensagem"><a href="mensagem.html">Enviar mensagem</a></div>
            </div>

            <h2>Depoimentos</h2>

            <ul class="depoimentos">
                <li>
                    <img src="../img/user.png">
                    <h3>Luis Carlos Silva</h3>
                    <p>Finalmente consegui fazer o meu curso de Marketing e dar um gás no meu negócio!!</p>
                </li>
        
                <li>
                    <img src="../img/user.png">
                    <h3>Fernanda Fátima Praisler</h3>
                    <p>Recomendo muito, financiamento com o menor juros que achei aqui.</p>
                </li>
            
                <li>
                    <img src="../img/user.png">
                    <h3>Felipe Dourado Nogueira</h3>
                    <p>Honestamente eu amei essa alternativa de pagamento, nunca tinha visto isso.</p>
                </li>                                                                           
            </ul>


            <h2>Parceiros</h2>

            <ul class="parceiros">
                    <li>
                        <img src="../img/udemy.png">
                    </li>
            
                    <li>
                        <img src="../img/hotmart.jpg">
                    </li>
                
                    <li>
                        <img src="../img/coursera.png">
                    </li>
                    
                    <li>
                        <img src="../img/rocketseat.jpg">
                    </li>
                        
                    <li>
                        <img src="../img/mx.jpg">
                    </li>                                                                           
                </ul>

        </main>
    </body>

</html>